DATABASE_URL=
NEXTAUTH_URL=
NEXTAUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
RESEND_API_KEY=
CANCELLATION_WINDOW_HOURS=24
ENCRYPTION_KEY=
SOLANA_RPC_URL=
MERCHANT_WALLET_PUBLIC_KEY=
